<div class="wrapper flex-center">
  <div class="container" >
    <img
           src="../../assets/globus.jpg"/>


      <div class="container-dot dot-a">
        <div class="dot"></div>
      </div>

      <div class="container-dot dot-b">
        <div class="dot"></div>
      </div>
      <div class="container-dot dot-c">
        <div class="dot"></div>
      </div>

      <div class="container-dot dot-d">
        <div class="dot"></div>
      </div>

      <div class="container-dot dot-e">
        <div class="dot"></div>
      </div>

      <div class="container-dot dot-f">
        <div class="dot"></div>
      </div>
      <div class="container-dot dot-g">
        <div class="dot"></div>
      </div>

      <div class="container-dot dot-h">
        <div class="dot"></div>
      </div>


    </div>
</div>
