<h1>
  Where's the best weather on earth right now?
</h1>
<div class="gender">
  For:
  <label class="radio inline">
    <input type="radio" name="sex" value="male" checked (change)="getWeatherWinnersList()">
    <span> Male </span>
  </label>
  <label class="radio inline">
    <input type="radio" name="sex" value="female" (change)="getWeatherWinnersList(false)">
    <span>Female </span>
  </label>
</div>
<app-loader *ngIf="!statesLoaded"></app-loader>
<h3 *ngIf="statesLoaded">The ideal temperature is: temperature - {{requiredTemp}}{{signUnits}}, humidity - {{requiredHumidity}}%</h3>
<ol *ngIf="statesLoaded" class="rounded-list">
  <li *ngFor="let weatherScore of weatherScoreList | keys">
    <a href="">Deviation of ~{{weatherScore.key}}:</a>
    <ol class="inline-list">
      <li *ngFor="let state of weatherScore.value">
        <a href="">{{state.name}} (temp: {{state.temp}}{{signUnits}}, humidity: {{state.humidity}}%)</a>
      </li>
    </ol>
  </li>
</ol>
